<%layout("/layouts/boilerplate")-%>
<body>
    <br/>
    <h1>Welcome to PizzaPioneer: Crafting Perfect Pizzas for Every Palate!</h1><br/>
    <section>
        <div class="image" >
            <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" style="height:100vh; width:80vw">
        </div>
        <br/>
        <br/>
        <a href="/listings" style="border:2px solid rgba(0, 0, 0, 0.548); text-decoration: none; margin-top:3rem;padding: 2px;margin-left: 45%; color:white !important;padding: 3px!important;"class="btn btn-dark add-btn  mb-5 mt-2">Menu</a>
        <br/>
        <br/>        
    </section>
</body>
